.container {
  height: 60px;
  width: 100%;
  /* background-color: red; */
}
.wrapper {
  padding: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  /* background-color: red; */
}

.category {
  margin-right: 20px;
  border: 1px solid black;
  height: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
